* {
     box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(28, 202, 5);
}


input.form-control {
    width: 400px;
}



form.left-side {
    margin-left: 25%;
}




div.lists {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-gap: 10px;
    padding: 10px;
   
}

div.list-item {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

